

body{
    margin: 0%;
    padding: 0%;
    max-width: 100%;
    font-family: 'poppins';
    height: 4000px;
    background-color: #f7f7f7;
    color: #0a0922;
}



a{
    color: #0a0811;
    text-decoration: none;
}



li{
    list-style: none;
}

/* 
.header{
    border: 20px solid #f8e53f;
    border-radius: 10px;
    padding-bottom: 3rem;
} */

/* NAV-BAR */
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    padding: 1rem 0rem;
    position: fixed;
    top: 0%;
    background-color: #f7f7f7;
    width: 100%;
    z-index: 1;
}
.logo img{
    width: 50px;
}
.nav-left{
    display: flex;
    align-items: center;
}
.links{
    display: flex;
}
.links  li {
  padding: 0 1.4rem;
}
.links li a{
    transition: 0.3s ease-in;
    position: relative;
    color: #0a0922;
}
.btn1{
    background-color: #f8e53f;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.7s ease-in-out;
}


.links li a:before{
    position: absolute;
    content: '';
    left: 0;
    top: 25px;
    width: 100%;
    height: 4px;
    background: #f8e53f;
    transform: scaleX(0);
    transform-origin: right;
    transition: 1s;
}
.links li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
    
}

.btn1:hover{
    width: 20px;
    background-color: #f6f1bc;
    transition: 0.5s ease-in-out;
}











/* Banner */
.banner{
    text-align: center;
    margin-top: 10rem;
    padding: 0 1rem;
    position: relative;
    z-index: 0;
}
.with-bg{
    background-color: #f8e53f;
    font-size: 37px;
    font-weight: 600;
    width: fit-content;
    display: inline-block;
    margin: 0;
    padding: 0.5rem 1.3rem;
    border-radius: 5px;
}
.banner h1{
    font-size: 39px;
    font-weight: 700;
    margin-top: 1rem;
    color: #0a0922;
}
.p{
    margin-top: 2rem;
    font-size: 20px;
    color: #0a0922;
}
.part1{
    position: absolute;
    left: 15rem;
    bottom: 20rem;
    width: 100px;
    animation-name: part1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes part1{
    10%{
        /* bottom: 20rem; */
    }
    20%{
        bottom: 18rem;
    }
    30%{
        bottom: 19rem;
    }
    40%{
        bottom: 18rem;
    }
    50%{
        left: 20rem;
    }
}
.part2{
    position: absolute;
    left: 10rem;
    bottom: 8rem;
    width: 90px;
    animation-name: part2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes part2{
    10%{
        bottom: 6rem;
    }
    20%{
        bottom: 5rem;
    }
    30%{
        left: 14rem;
    }
    40%{
        bottom: 9rem;
    }

}
.part3{
    position: absolute;
    right: 15rem;
    bottom: 20rem;
    width: 80px;
    animation-name: part3;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes part3{
    20%{
        bottom: 18rem;
    }
    30%{
        bottom: 19rem;
    }
    40%{
        bottom: 18rem;
    }
    50%{
        right: 20rem;
    }
}
.part4{
    position: absolute;
    right: 10rem;
    bottom: 8rem;
    width: 90px;
    animation-name: part4;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes part4{
    10%{
        bottom: 9rem;
    }
    20%{
        bottom: 8rem;
    }
    30%{
        right: 12rem;
    }
    40%{
        bottom: 9rem;
    }
    
}

.review{
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: fit-content;
    display: inline-flex;
    gap: 7rem;
    padding: 0.7rem 4rem;
    margin-top: 3rem;
    box-shadow: 3px 6px 15px 5px #d4d4d4;
    margin: 3 1rem;
    border-radius: 10px;
}

.review h2{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0.2rem;
    color: #1a1a1a;
}
.review-p{
    margin-top: -1.6rem;
    font-size: 12px;
    color: #585656;
}






/* ABOUT */
.about-heading h2{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.p{
    font-size: 17px;
    font-weight: 500;
}
.info{
    display: flex;
    gap: 5rem;
    border: 2px solid #ECECEC;
    width: fit-content;
    padding: 1rem;
}
.info p{
    font-weight: 500;
}
.info span{
    font-weight: 400;
    margin-left: 1rem;
}
.set1-{
    margin-top: 2.5rem;
}








































@media (max-width: 375px){
    .links a{
        display: none;
    }
    .btn1{
        display: none;
    }
    .review{
        display: none;
    }   
}





@media (max-width: 425px){
    .links a{
        display: none;
    }
    .navbar{
        gap: -30rem;
    }
    .btn1{
        display: none;
    }
    .review{
        display: none;
    }   
    .review h2{
        font-size: 20px;
    }
}






@media (max-width: 768px){
    .links a{
        display: none;
    }
    .navbar{
        gap: -30rem;
    }
    /* .btn1{
        display: none;
    } */
    .review{
        display: none;
    }   
    .review h2{
        font-size: 20px;
    }
}




@media (max-width: 1024px){
    .links a{
        padding: 0 1rem; 
    }
    .nav-bar{
        gap: 6rem;
    }    
}