* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'poppins';
    scroll-behavior: smooth;
    max-width: 100%;
    
}

body {
    color: #0a0922;
    scrollbar-width:  #5138ed;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}



.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: space-between;
}

.nav-links {
    transition: 0.7s ease;
    color: #0a0922;
}

.hambuger {
    display: none;
    cursor: pointer;
}

.btn1 {
    background-color: #5138ed;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.1s ease-in-out;
    color: #fff;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(17, 10, 10);
}

.nav-items:before {
    position: absolute;
    content: '';
    left: 0;
    top: 25px;
    width: 100%;
    height: 4px;
    background: #f8e53f;
    transform: scaleX(0);
    transform-origin: right;
    transition: 1s;
}

.nav-items:hover:before {
    transform: scaleX(1);
    transform-origin: left;

}












/* BANNER */
.banner {
    text-align: center;
    padding: 0 3rem;
    margin-top: 13rem;
    font-weight: 400;
    position: relative;
    z-index: 0;
}

.with-bg {
    font-size: 37px;
    font-weight: 600;
    width: fit-content;
    display: inline-block;
    margin: 0;
    border-radius: 5px;
}

.banner h1 {
    font-size: 47px;
    font-weight: 700;
    color: #0a0922;
    font-family: 'Fontspring DEMO - Roc Grotesk';
}

.p {
    margin-top: 2rem;
    font-size: 20px;
    color: #0a0922;
    max-width: 800px;
    display: inline-block;
}

.path1 {
    position: absolute;
    top: 10;
}

.path2 {
    position: absolute;
    top: 10;
    right: 3rem;
}

.review {
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: fit-content;
    display: inline-flex;
    gap: 7rem;
    padding: 1.5rem 4rem;
    margin-top: 3rem;
    box-shadow: 3px 6px 15px 5px #d4d4d4;
    margin: 3 1rem;
    border-radius: 10px;
    max-width: 900px;
    flex-wrap: wrap;
}

.review h2 {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0.2rem;
    color: #1a1a1a;
}

.review-p {
    margin-top: 0rem;
    font-size: 12px;
    color: #585656;
}






/* ABOUT */
.about {
    margin-top: 6rem;
    padding: 5rem;

}

.about-heading h2 {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    font-family: 'Fontspring DEMO - Roc Grotesk';

}

.about-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.p- {
    font-size: 17px;
    font-weight: 500;
}

.info {
    display: flex;
    gap: 5rem;
    border: 1px solid #dddddd;
    width: fit-content;
    padding: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.info p {
    font-weight: 500;
}

.info span {
    font-weight: 400;
    margin-left: 1rem;
}

.set1- {
    margin-top: 2.5rem;
}

.btn2 {
    background-color: #5138ed;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.7s ease-in-out;
    margin-top: 5rem;
    color: #fff;
}

.text-about {
    font-size: 17px;
    line-height: 2rem;
    text-align: left;
    max-width: 500px;
    margin-bottom: 3rem;
    font-weight: 450;
}








/* SERVICE */
.service-all{
    margin-top: 5rem;
}
.service-heading  h2{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    font-family: 'Fontspring DEMO - Roc Grotesk';
    display: none;
    margin-bottom: 3rem;

}
.service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
    flex-wrap: wrap;
}

.card1-a {
    border: 1px solid #E9E5FF;
    color: #0a0922;
    width: fit-content;
    border-radius: 20px;
    padding: 3rem 1rem;
    margin-top: 2rem;
    transition: 0.3s ease-in-out;
}

.card1-header {
    font-size: 17px;
    font-weight: 450;
    margin: 2rem 0;
}

.card1-cont {
    font-size: 14px;
    max-width: 250px;
    line-height: 1.7rem;
    font-weight: 300;
    color: #4a4a4a;
}

.to-flex {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.card2-a {
    border: 1px solid #E9E5FF;
    color: #0a0922;
    width: fit-content;
    border-radius: 20px;
    margin-top: 3rem;
    transition: 0.3s ease-in-out;
    padding: 3rem 1rem;
}

.card2-header {
    font-size: 17px;
    font-weight: 450;
    margin: 2rem 0;
}

.card2-cont {
    font-size: 14px;
    max-width: 250px;
    line-height: 1.7rem;
    font-weight: 300;
    color: #4a4a4a;
}

.card3-a {
    border: 1px solid #E9E5FF;
    color: #0a0922;
    width: fit-content;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    padding: 3rem 1rem;
}

.card3-header {
    font-size: 17px;
    font-weight: 450;
    margin: 2rem 0;
}

.card3-cont {
    font-size: 14px;
    max-width: 250px;
    line-height: 1.7rem;
    font-weight: 300;
    color: #4a4a4a;
}

.card4-a {
    border: 1px solid #E9E5FF;
    color: #0a0922;
    width: fit-content;
    border-radius: 20px;
    padding: 3rem 1rem;
    margin-top: 2rem;
    transition: 0.3s ease-in-out;
}

.card4-header {
    font-size: 17px;
    font-weight: 450;
    margin: 2rem 0;
}

.card4-cont {
    font-size: 14px;
    max-width: 250px;
    line-height: 1.7rem;
    font-weight: 300;
    color: #4a4a4a;
}


.ser-right h2 {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
    color: #0a0922;
    font-family: 'Fontspring DEMO - Roc Grotesk';
}

.h2-right {
    font-size: 40px;
    font-weight: 600;
    max-width: 400px;
    margin-top: 2rem;
}

.line {
    width: 9rem;
    height: 0.2rem;
    background-color: #0a0922;
}

.to-flex2 {
    display: flex;
    gap: 0.7rem;
    align-items: center;
}

.p2 {
    font-size: 17px;
    max-width: 500px;
    border-top: 1px solid #c8c8c8;
    padding-top: 3rem;
    margin-top: 2rem;
    line-height: 2rem;
    color: #585656;
    font-weight: 300;
    margin-bottom: 3rem;
}
.btn3{
    background-color: #5138ed;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.7s ease-in-out;
    margin-top: 5rem;
    color: #fff;
}
.card1-a:hover{
    transition: 0.5s ease;
    transform: scale(1.08);
}
.card2-a:hover{
    transition: 0.5s ease;
    transform: scale(1.08);
}
.card3-a:hover{
    transition: 0.5s ease;
    transform: scale(1.08);
}
.card4-a:hover{
    transition: 0.5s ease;
    transform: scale(1.08);
}
.btn1:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
.btn2 a:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
.btn3:hover{
    transform: scale(1.1);
    transition: 0.2s;
}












/* RESPONSIVENESS */


@media (max-width: 480px) and (min-width: 200px) {
    .contact-content{
        display: none;
    }
    .banner{
        padding: 0 2rem;
    }
    .about{
        padding: 2rem;
    }
    .service{
        margin-right: 2rem;
        margin-left: 2rem;
        gap: 0;
    }
    .to-flex{
        display: block;
        align-items: center;
    }
    .card3-a{
        margin-top: 3rem;
    }
    .service{
        justify-content: center;
    }
}


@media (max-width: 757px) and (min-width: 476px) {
    .to-flex{
        gap: 0.7rem;
    }
    .h2-right{
    margin-top: 4rem;
}
    .card1-a{
        margin-top: 3rem;
        padding: 3rem 0.7rem;
    }
    .card2-a{
        margin-top: 3rem;
        padding: 3rem 0.7rem;
    }
    .card3-a{
        margin-top: 3rem;
        padding: 3rem 0.7rem;
    }
    .card4-a{
        margin-top: 3rem;
        padding: 3rem 0.7rem;
    }
    .service{
        justify-content: center;
    }
}



@media (max-width: 800px) {
    .hambuger {
        display: block;
    }

    .hambuger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hambuger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hambuger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar {
        padding: 02rem;
    }

    .review {
        gap: 3rem;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        flex-direction: column;
        gap: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background-color: #f1f1f1;
    }
    .service-heading  h2{
        display: block;
    }
    .to-flex2{
        display: none;
    }
    .info {
        gap: 2.5rem;
    }
    .p2 {
        max-width: 2000px;
    }
    .h2-right {
        max-width: 800px;
    }
    .service{
        justify-content: center;
    }


    .nav-items {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}



/* <!-- contact section --> */
.contact-content{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
    color: #0a0922;
    margin-top: 50px;
    flex-wrap: wrap;
}
.fst-contact{
    margin-right: 50px;
    margin-top: -25px;
    line-height: 50px;
}
.fst-contact a{
    color: #5138ed;
    text-decoration: none;
}
.fst-contact h2{
    color: #0a0922;
    font-size: 30px;
    text-decoration: none;
}

.snd-contact{
    margin-left: 30px;
}
.name-sec input{
    border: none;
    background-color: #fff;
    padding-right: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 30px;
    box-shadow: 3px 2px 30px -6px #0000003b;
}
.Subjet-sec input{
    border: none;
    background-color: #fff;
    padding-right: 395px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 30px;
    box-shadow: 3px 2px 30px -6px #0000003b;
    margin-top: 40px;
}
.Message-sec input{
    border: none;
    background-color: #fff;
    padding-right: 395px;
    padding-top: 30px;
    padding-bottom: 140px;
    padding-left: 20px;
    border-radius: 30px;
    box-shadow: 3px 2px 30px -6px #0000003b;
    margin-top: 40px;
}
.btn3{
    border: none;
    background-color: #5138ed;
    color: #fff;
    font-size: 15px;
    padding: 15px 30px;
    border-radius: 25px;
    margin-top: 20px;
    font-weight: 500;
}
.btn3:hover{
    cursor: pointer;
}
.box2-content:hover{
    border: 2px solid #6b6be0;
}