@font-face {
    font-family: 'charley';
    src: url(./fonts/Roc-Grotesk/Demo_Fonts/Fontspring-DEMO-rocgrotesk-bold.otf) format(OpenType);
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'poppins';
    src: url(fonts/Poppins/Poppins-Regular.ttf) format(ttf);
    font-weight: bold;
    font-style: normal;
}










* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'poppins';
    scroll-behavior: smooth;
    max-width: 100%;
    
}

body {
    color: #0a0922;
    scrollbar-width:  #5138ed;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}



.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: space-between;
}

.nav-links {
    transition: 0.7s ease;
    color: #0a0922;
}

.hambuger {
    display: none;
    cursor: pointer;
}

.btn1 {
    background-color: #1270FE;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.1s ease-in-out;
    color: #fff;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #1270FE;
}

.nav-items:before {
    position: absolute;
    content: '';
    left: 0;
    top: 25px;
    width: 100%;
    height: 4px;
    background: #f8e53f;
    transform: scaleX(0);
    transform-origin: right;
    transition: 1s;
}

.nav-items:hover:before {
    transform: scaleX(1);
    transform-origin: left;

}












/* BANNER */
.banner {
    text-align: center;
    padding: 0 3rem;
    margin-top: 13rem;
    font-weight: 400;
    position: relative;
    z-index: 0;
}

.banner h1 {
    font-size: 47px;
    font-weight: 700;
    color: #0a0922;
    font-family: 'charley';
}

.p {
    margin-top: 2rem;
    font-size: 20px;
    color: #0a0922;
    max-width: 800px;
    display: inline-block;
}

.path1 {
    position: absolute;
    top: 10;
}

.path2 {
    position: absolute;
    top: 10;
    right: 3rem;
}







/* ABOUT */
.about {
    margin-top: 6rem;
    padding: 5rem;
    background-color: #1270fe0f;
}

.about-heading h2 {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    font-family: 'charley';

}

.about-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.p- {
    font-size: 17px;
    font-weight: 400;
}

.info {
    display: flex;
    gap: 5rem;
    border: 1px solid #dddddd;
    width: fit-content;
    padding: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.info p {
    font-weight: 500;
}

.info span {
    font-weight: 400;
    margin-left: 1rem;
}

.set1- {
    margin-top: 2.5rem;
}

.btn2 {
    background-color: #1270FE;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.7s ease-in-out;
    margin-top: 5rem;
    color: #fff;
}

.text-about {
    font-size: 17px;
    line-height: 2rem;
    text-align: left;
    max-width: 500px;
    margin-bottom: 3rem;
    font-weight: 400;
}








/* SERVICE */
.service-all{
    margin-top: 5rem;
}
.service-heading  h2{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    font-family: 'Fontspring DEMO - Roc Grotesk';
    display: none;
    margin-bottom: 3rem;

}
.service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
    flex-wrap: wrap;
}

.card1-a {
    border: 1px solid #B4D2FC;
    color: #0a0922;
    width: fit-content;
    border-radius: 20px;
    padding: 2.5rem 1rem;
    transition: 0.3s ease-in-out;
}

.card1-header {
    font-size: 17px;
    font-weight: 450;
    margin: 2rem 0;
}

.card1-cont {
    font-size: 14px;
    max-width: 250px;
    line-height: 1.7rem;
    font-weight: 300;
    color: #4a4a4ac3;
}

.to-flex {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.card2-a {
    border: 1px solid #B4D2FC;
    color: #0a0922;
    width: fit-content;
    border-radius: 20px;
    margin-top: 3rem;
    transition: 0.3s ease-in-out;
    padding: 3rem 1rem;
}

.card2-header {
    font-size: 17px;
    font-weight: 450;
    margin: 2rem 0;
}

.card2-cont {
    font-size: 14px;
    max-width: 250px;
    line-height: 1.7rem;
    font-weight: 300;
    color: #4a4a4ac3;
}

.card3-a {
    border: 1px solid #B4D2FC;
    color: #0a0922;
    width: fit-content;
    border-radius: 20px;
    margin-bottom: 2rem;
    transition: 0.3s ease-in-out;
    padding: 2.5rem 1rem;
}

.card3-header {
    font-size: 17px;
    font-weight: 450;
    margin: 2rem 0;
}

.card3-cont {
    font-size: 14px;
    max-width: 250px;
    line-height: 1.7rem;
    font-weight: 300;
    color: #4a4a4ac3;
}

.card4-a {
    border: 1px solid #B4D2FC;
    color: #0a0922;
    width: fit-content;
    border-radius: 20px;
    padding: 3rem 1rem;
    margin-top: 2rem;
    transition: 0.3s ease-in-out;
}

.card4-header {
    font-size: 17px;
    font-weight: 450;
    margin: 2rem 0;
}

.card4-cont {
    font-size: 14px;
    max-width: 250px;
    line-height: 1.7rem;
    font-weight: 300;
    color: #4a4a4ac3;
}


.ser-right h2 {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
    color: #0a0922;
    font-family: 'Fontspring DEMO - Roc Grotesk';
}

.h2-right {
    font-size: 35px;
    font-weight: 600;
    max-width: 400px;
    margin-top: 2rem;
}

.line {
    width: 9rem;
    height: 0.2rem;
    background-color: #0a0922;
}

.to-flex2 {
    display: flex;
    gap: 0.7rem;
    align-items: center;
}

.p2 {
    font-size: 17px;
    max-width: 500px;
    border-top: 1px solid #b4d2fca3;
    padding-top: 3rem;
    margin-top: 2rem;
    line-height: 2rem;
    color: #585656;
    font-weight: 300;
    margin-bottom: 3rem;
}
.btn{
    background-color: #1270FE;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.7s ease-in-out;
    margin-top: 5rem;
    color: #fff;
}
.card1-a:hover{
    transition: 0.5s ease;
    transform: scale(1.08);
}
.card2-a:hover{
    transition: 0.5s ease;
    transform: scale(1.08);
}
.card3-a:hover{
    transition: 0.5s ease;
    transform: scale(1.08);
}
.card4-a:hover{
    transition: 0.5s ease;
    transform: scale(1.08);
}
.btn1:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
.btn2 a:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
.btn3:hover{
    transform: scale(1.1);
    transition: 0.2s;
}












/* PROJECT */

.port{
    margin-top: 7rem;
    background-color: #1270fe0f;
    padding: 5rem 0;
}




.all-project{
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.project1{
    background-color: #fff;
    border: 1px solid #07132622;
    width: fit-content;
    border-radius: 15px;
    padding-bottom: 2rem;
    transition: 0.5s ease-in-out;
}
.project h2{
    font-family: 'charley';
    font-size: 35px;
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
}
.project1 p{
    font-weight: 500;
    font-size: 17px;
    margin: 1rem 0;
    margin-left: 1rem;
}
.project1-img{
    width: 350px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.btn4{
    border: 1.5px solid #1270FE;
    color: #1270FE;
    font-size: 10px;
    padding: 5px 1rem;
    border-radius: 3rem;
    margin-left: 1rem;
    transition: 0.5s ease-in-out;
}

.project1:hover{
    transition: 0.5s ease;
    transform: scale(1.08);
}







.project2{
    background-color: #fff;
    border: 1px solid #07132622;
    width: fit-content;
    border-radius: 15px;
    padding-bottom: 2rem;
    transition: 0.5s ease-in-out;
}
.project h2{
    font-family: 'charley';
    font-size: 30px;
    text-align: center;
}
.project2 p{
    font-weight: 500;
    font-size: 17px;
    margin: 1rem 0;
    margin-left: 1rem;
}
.project2-img{
    width: 350px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.btn5{
    border: 1.5px solid #1270FE;
    color: #1270FE;
    font-size: 10px;
    padding: 5px 1rem;
    border-radius: 3rem;
    margin-left: 1rem;
    transition: 0.5s ease-in-out;
}

.project2:hover{
    transition: 0.5s ease;
    transform: scale(1.08);
}






.project3{
    background-color: #fff;
    border: 1px solid #07132622;
    width: fit-content;
    border-radius: 15px;
    padding-bottom: 2rem;
    transition: 0.5s ease-in-out;
}
.project h2{
    font-family: 'charley';
    font-size: 30px;
    text-align: center;
}
.project3 p{
    font-weight: 500;
    font-size: 17px;
    margin: 1rem 0;
    margin-left: 1rem;
}
.project3-img{
    width: 350px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.project3:hover{
    transition: 0.5s ease;
    transform: scale(1.08);
}

.btn6{
    border: 1.5px solid #1270FE;
    color: #1270FE;
    font-size: 10px;
    padding: 5px 1rem;
    border-radius: 3rem;
    margin-left: 1rem;
    transition: 0.5s ease-in-out;
}
.btn4:hover{
    background-color: #1270FE;
    color: #fff;
    transition: 0.5s ease-in-out;
}
.btn5:hover{
    background-color: #1270FE;
    color: #fff;
    transition: 0.5s ease-in-out;
}
.btn6:hover{
    background-color: #1270FE;
    color: #fff;
    transition: 0.5s ease-in-out;
}
.btn7:hover{
    transition: 0.5s ease;
    transform: scale(1.08);
    background-color: #053d91;
}







/* HIRE */
.hire-all{
    margin-top: 5rem;
    background-color: #181818;
    padding: 5rem 3rem;
    color: #ffffff;
}
.hire{
    font-size: 'charley';
    font-size: 23px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    
}
.hire h2{
    font-weight: 600;
    margin-bottom: 2rem;
}

.hire p{
    font-weight: 300;
    font-size: 16px;
    color: #e8e6e6;
    background-color: #1270FE;
    padding: 1rem 0rem;
    border-radius: 20rem;
    word-spacing: 0.5rem;
    letter-spacing: 0.0.1rem;
    transition: 0.5s ease;
}
.line2{
    border-top: 1px solid #b4d2fc15;
    width: 1200px;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 0;
}

.social-media img{
    width: 18px;
    opacity: 90%;
}
.social{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    transition: 0.5s ease;
}
.social a{
    color: #fff;
    font-size: 20px;
    transition: 0.5s ease;
}
.social a:hover{
    transition: 0.5s ease;
    transform: scale(1.08);
}












/* RESPONSIVENESS */


@media (max-width: 480px) and (min-width: 200px) {
    .contact-content{
        display: none;
    }
    .banner{
        padding: 0 2rem;
    }

    .about{
        padding: 2rem;
    }
    .service{
        margin-right: 2rem;
        margin-left: 2rem;
        gap: 0;
    }
    .to-flex{
        display: block;
        align-items: center;
    }
    .card3-a{
        margin-top: 3rem;
    }
    .service{
        justify-content: center;
    }
}


@media (max-width: 757px) and (min-width: 476px) {
    .to-flex{
        gap: 0.7rem;
    }
    .h2-right{
    margin-top: 4rem;
}
    .card1-a{
        margin-top: 3rem;
        padding: 3rem 0.7rem;
    }
    .card2-a{
        margin-top: 3rem;
        padding: 3rem 0.7rem;
    }
    .card3-a{
        margin-top: 3rem;
        padding: 3rem 0.7rem;
    }
    .card4-a{
        margin-top: 3rem;
        padding: 3rem 0.7rem;
    }
    .service{
        justify-content: center;
    }
}



@media (max-width: 800px) {
    .hambuger {
        display: block;
    }

    .hambuger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hambuger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hambuger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar {
        padding: 02rem;
    }

    .review {
        gap: 3rem;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        height: 60vh;
        text-align: center;
        transition: 0.3s;
        background-color: #fff;
    }
    .banner{
        margin-top: 7rem;
    }
    .service-heading  h2{
        display: block;
    }
    .to-flex2{
        display: none;
    }
    .info {
        gap: 2.5rem;
    }
    .p2 {
        max-width: 2000px;
    }
    .h2-right {
        max-width: 800px;
    }
    .service{
        justify-content: center;
    }

    .all-project{
        gap: 3rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .project h2{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .nav-items {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
    .hire-all{
        padding: 5rem 0.5rem;
    }
}

@media (max-width: 1024px) and (min-width: 800px) {
    .info{
        justify-content: space-between;
        width: 1000px;
        gap: 2rem;
        padding: 3rem;
    }
    .text-about{
        max-width: 1000px;
        text-align: center;
        font-size: 18px;
    }
    .btn2{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .service-heading  h2{
        display: block;
    }
    .to-flex2{
        display: none;
    }
    .info {
        gap: 5rem;
    }
    .p2 {
        max-width: 2000px;
    }
    .h2-right {
        max-width: 800px;
    }
    .service{
        justify-content: center;
    }

}